table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 50px;
    margin-right: auto;
    margin-bottom: 40px;
  }
  
  td, th {
    border: 1px solid #eeeaea;
    padding: 8px;
    font-size: small;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  .example-first-header-row th {
      border-bottom: none;
    }
    
    .example-second-header-row {
      font-style: italic;
    }
    
    .example-first-footer-row {
      font-weight: bold;
    }
    
    .example-second-footer-row td {
      font-style: italic;
    }