
* {
    box-sizing: border-box;
  }

.column {
    float: left;
    width: 295px;
    padding: 10px;
    height: fit-content; /* Should be removed. Only for demonstration */
    margin-top: 30px;
    background-color: #E0F2F1;
    border-radius: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  img{
    width:255px; 
    height: 150px; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 5px; 
    margin-top: 5px; 
    clip-path: polygon( 0 0,100% 0, 100% 85%, 0 100%);
  }