<form [formGroup]="pertemuanForm" (ngSubmit)="createPertemuan()">
    <h2 mat-dialog-title style="text-align: center;">Pertemuan Baru</h2>
    <mat-dialog-content class="mat-typography" style="width: 480px;">
        <mat-label>ID Kelas</mat-label>
        <mat-form-field appearance="legacy" style="margin-left: 150px;">
            <input matInput type="text" formControlName="id_kelas">
        </mat-form-field>
        <br>
        <mat-label>Nama Pertemuan</mat-label>
        <mat-form-field appearance="legacy" style="margin-left: 100px;">
            <input matInput type="text" formControlName="nama_pertemuan">
        </mat-form-field>
        <br>
        <mat-label>Tanggal Pertemuan</mat-label>
        <mat-form-field appearance="legacy" style="margin-left: 80px;">
            <input matInput [matDatepicker]="picker1" formControlName="tanggal_pertemuan">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-label>Deskripsi</mat-label>
        <mat-form-field appearance="legacy" style="margin-left: 155px;">
            <input matInput type="text" formControlName="deskripsi_pertemuan">
        </mat-form-field>
        <br>
        <mat-label>Tempat</mat-label>
        <mat-form-field appearance="legacy" style="margin-left: 164px;">
            <input matInput type="text" formControlName="tempat">
        </mat-form-field>
        <br>
        <mat-label>Sub Capai</mat-label>
        <mat-form-field appearance="legacy" style="margin-left: 146px;">
            <input matInput type="text" formControlName="sub_cp">
        </mat-form-field>
        <br>
        <mat-label>Materi</mat-label>
        <mat-form-field appearance="legacy" style="margin-left: 168px;">
            <input matInput type="text" formControlName="materi">
        </mat-form-field>
        <br>
        <mat-label>Indikator</mat-label>
        <mat-form-field appearance="legacy" style="margin-left: 152px;">
            <input matInput type="text" formControlName="indikator">
        </mat-form-field>
        <br>
        <mat-label>Metode Penilaian</mat-label>
        <mat-form-field appearance="legacy" style="margin-left: 100px;">
            <input matInput type="text" formControlName="metode_penilaian">
        </mat-form-field>
        <br>
        <mat-label>Metode Pembelajaran</mat-label>
        <mat-form-field appearance="legacy" style="margin-left: 72px;">
            <input matInput type="text" formControlName="metode_pembelajaran">
        </mat-form-field>
        <br>
        <mat-label>Pustaka</mat-label>
        <mat-form-field appearance="legacy" style="margin-left: 158px;">
            <input matInput type="text" formControlName="pustaka">
        </mat-form-field>
        <br>
        <mat-label>Bobot</mat-label>
        <mat-form-field appearance="legacy" style="margin-left: 171px;">
            <input matInput type="text" formControlName="bobot">
        </mat-form-field>
        <br>
        <!--<mat-label>Upload Image</mat-label>
        <input (change)="this.onFilechange($event)" class="form-control" type="file" id="formFile" formControlName="upload_image">
       <button (click)="this.upload()" type="button" class="btn btn-primary mt-3">Upload</button>
        <br>-->
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close>Batal</button>
        <button mat-button [mat-dialog-close] [disabled]="!pertemuanForm.valid" type="submit">Simpan</button>
    </mat-dialog-actions>
</form>