.container{
    background: #f9fafb;
    display: flex;
    height: fit-content;
    margin-left: 10px;
}
.box{
    padding:15px;
    font-family: Poppins, "Helvetica Neue", arial, sans-serif;
    font-size: 1.5em;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    margin-top: 0;
}
.box1{ 
    background-color:#f9fafb; 
    width: 55%;
}
.box2{ 
    background-color:#f9fafb; 
    width: 50%;
    height: fit-content;
}
.btn-add {
    background-color: #E0F2F1;; 
    font-size: small;
    margin-right: 10px;
}
.btn-list{
    width: 200px;
    background-color: #f7f7f7;
    color: #000;
    text-align: left;
    margin-top: 20px;
    margin-bottom: -10px;
    height: 45px;
}
.card-meeting {
    background-color: #f7f7f7;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;
    height: fit-content;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    .head {
        padding: 1rem 1.5rem;
        // border-bottom: 1px solid #000;
        font-size: 1rem;
        font-weight: 600;
        background-color: #B3E5FC;
        border-radius: 20px;
        margin-top: 20px;
        height: 40px;
    }

    .subhead {
        padding: 1rem 1.5rem;
        font-size: 1rem;
        font-weight: 600;
        background-color: #B3E5FC;
        margin-top: 20px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .title-chat{
        padding: 1rem 1.5rem;
        // border-bottom: 1px solid #000;
        font-size: 1rem;
        font-weight: 600;
        background-color: #B3E5FC;
        border-radius: 15px;
        margin-top: 20px;
    }

    .body {
        padding: 1rem 1.5rem;
        background: #f9fafb;
    }
}

.chat{
    flex-direction: row;
    display: inline-flex;
    margin-bottom: 10px;
}

.chat-body{
    display: flex;
    flex-direction: column;
}

.margin-text{
    margin-left: 10px;
    color: #000;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  
  td, th {
    border: 1px solid #eeeaea;
    text-align: left;
    padding: 8px;
    font-size: small;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }