<div style="background-color: #4FC3F7; height: 55px; width:100%; padding: 0; margin-bottom: 20px;">
    <h1 style="margin-left: 40px;line-height: 50px; font-weight: 500;">Silabus Pertemuan</h1>
</div>
<button mat-raised-button cdkFocusInitial (click)="downloadAsPDF()" 
    style="background-color: #E0F2F1; margin-left: 40px; margin-bottom: 20px;">
    Export to PDF
</button>
<div #pdfTable *ngFor="let pertemuan of pertemuanList;"> 
    <h5 style="margin-left: 26%; font-weight: bold;">SILABUS</h5>
    <div style="font-size: 8px; line-height: 1.5; margin-left: 2%">
        <span>Pertemuan</span><span style="margin-left:60px;">: {{pertemuan.nama_pertemuan}}</span>
        <br>
        <span>Tanggal Pertemuan</span><span style="margin-left:30px ;">: {{pertemuan.tanggal_pertemuan.split("-").reverse().join("-")}}</span>
        <br>
        <span>Bobot</span><span style="margin-left:78px;">: {{pertemuan.bobot}}</span>
    </div>
  
    <table style="margin-top: 20px; margin-left: 2%;line-height: 1;">
        <tr style="text-align: center; font-size: 8px;">
            <th >Materi Pembelajaran</th>
            <th >Sub Pencapaian</th>
            <th >Indikator</th>
            <th >Metode Penilaian</th>
            <th >Metode Pembelajaran</th>
        </tr>
    
        <tr style="text-align: justify;font-size: 8px;">
            <td style="width: 9%;">{{pertemuan.materi}}</td>
            <td style="width: 8%;">{{pertemuan.sub_cp}}</td>
            <td style="width: 7%;">{{pertemuan.indikator}}</td>
            <td style="width: 13%;">{{pertemuan.metode_penilaian}}</td>
            <td style="width: 13%;">{{pertemuan.metode_pembelajaran}}</td>
        </tr>
    </table>
</div>
