<form [formGroup]="kelasForm" (ngSubmit)="createKelas()">
    <h2 mat-dialog-title style="text-align: center;">Form Kelas Baru</h2>
    <mat-dialog-content class="mat-typography"  >
      <mat-label>Kode Kelas</mat-label>
      <mat-form-field appearance="legacy" style="margin-left:80px;"> 
        <input matInput type="text" formControlName="kode_kelas">
      </mat-form-field>
      <br>
      <mat-label>Nama Kelas</mat-label>
      <mat-form-field appearance="legacy" style="margin-left:73px;"> 
        <input matInput type="text" formControlName="nama_kelas">
      </mat-form-field>
      <br>
      <mat-label>Tanggal Mulai</mat-label>
      <mat-form-field appearance="legacy" style="margin-left: 61px;">
        <input matInput [matDatepicker]="picker1" formControlName="tanggal_mulai">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-label>Tanggal Selesai</mat-label>
      <mat-form-field appearance="legacy" style="margin-left: 51px;">
        <input matInput [matDatepicker]="picker2" formControlName="tanggal_selesai">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field> 
      <br>
      <mat-label>Deskripsi</mat-label>
      <mat-form-field appearance="legacy" style="margin-left: 91px;">
        <textarea matInput type="text" formControlName="deskripsi"></textarea>
      </mat-form-field>
      <br>
      <mat-label>Tahun</mat-label>
      <mat-form-field appearance="legacy" style="margin-left: 110px;">
        <input matInput type="text" formControlName="tahun">
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button mat-button mat-dialog-close>Batal</button>
      <button mat-button [mat-dialog-close] [disabled]="!kelasForm.valid" type="submit">Simpan</button>
    </mat-dialog-actions>
</form>