<div style="background-color: #4FC3F7; height: 55px; width:100%; padding: 0">
    <h1 style="margin-left: 40px;line-height: 50px; font-weight: 500;">Dashboard</h1>
</div>

<div class="card">
    <div class="card-head" *ngFor="let kelas of kelasList">
        <div style="margin-top: -7px;">{{kelas.nama_kelas}}</div>
    </div>
    <canvas id="myChart" width="200" height="30%"></canvas>     
</div>
<div class="card-user" (click)="listDosen()">
    <div class="card" style="width:100%; margin-left: auto; margin-right: auto;">
        <div class="card-head">
            <div style="margin-top: -7px; text-align: center;">Data Dosen</div>
        </div>
    </div>
    <img src="assets/img/user.png" style="width:35%;margin-left: 33%;margin-bottom: 10px;">
    <div class="container">
    </div>
    <br>
</div>