<div style="background-color: #4FC3F7; height: 55px; width:100%; padding: 0">
    <h1 style="margin-left: 40px;line-height: 50px; font-weight: 500;">Dashboard</h1>
</div>

<div class="card">
    <div class="card-head">
        <div style="margin-top: -7px;">Lorem ipsum - dashboard</div>
    </div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aperiam earum dolorum voluptatibus ipsam facilis repellat adipisci consectetur illum iure? Neque exercitationem ducimus id officiis beatae autem, magni nesciunt ut?
    </div>
    <canvas id="myChart" width="200" height="30%"></canvas>
</div>