<div style="background-color: #4FC3F7; height: 55px; width:100%; padding: 0;">
    <h1 style="margin-left: 40px;line-height: 50px; font-weight: 500;">Daftar Dosen</h1>
</div>
<div style="margin-left: 50px; margin-bottom: 20px;">
    <button mat-raised-button style="margin-top: 20px; background-color: #E0F2F1; font-size: small; width: fit-content;" (click)="create()">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Pengajar
    </button>
</div>

<table>
    <th colspan="6" style="text-align: center; font-size:15px;">Dosen Pengajar</th>
    <tr>
        <th style="text-align: center; width:30px">No</th>
        <th style="text-align: center; width:80px">NIK</th>
        <th style="text-align: center; width:200px">Nama Lengkap</th>
        <th style="text-align: center; width:40px">Telepon</th>
        <th style="text-align: center; width:100px">Email</th>
        <th style="text-align: center; width:100px">Aktifitas</th>
    </tr>

    <tr *ngFor="let pengajar of pengajarList; let i = index">
        <td style="text-align: center;">{{i+1}}</td>
        <td style="text-align: center;">{{pengajar.nik}}</td>
        <td style="text-align: left;">{{pengajar.nama}}</td>
        <td style="text-align: center;">{{pengajar.no_hp}}</td>
        <td style="text-align: center;">{{pengajar.email}}</td>
        <td style="text-align: center;">
            <!--<button mat-raised-button matTooltip="Edit data dosen" style="margin-left: 10px;" >
                <i class="fa fa-edit" aria-hidden="true"></i>
            </button>-->
            <button mat-raised-button matTooltip="Hapus data dosen" style="margin-left: 10px;" >
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
        </td>
    </tr>
</table>
<br>
<table>
    <th colspan="6" style="text-align: center; font-size:15px;">Dosen Peserta</th>
    <tr>
        <th style="text-align: center; width:30px">No</th>
        <th style="text-align: center; width:80px">NIK</th>
        <th style="text-align: center; width:200px">Nama Lengkap</th>
        <th style="text-align: center; width:40px">Telepon</th>
        <th style="text-align: center; width:100px">Email</th>
        <th style="text-align: center; width:100px">Aktifitas</th>
    </tr>
    
    <tr *ngFor="let peserta of pesertaList; let i = index">
        <td style="text-align: center;">{{i+1}}</td>
        <td style="text-align: center;">{{peserta.nik}}</td>
        <td style="text-align: left;">{{peserta.nama}}</td>
        <td style="text-align: center;">{{peserta.no_hp}}</td>
        <td style="text-align: center;">{{peserta.email}}</td>
        <td style="text-align: center;">
            <!--<button mat-raised-button matTooltip="Edit data dosen" style="margin-left: 10px;" >
                <i class="fa fa-edit" aria-hidden="true"></i>
            </button>-->
            <button mat-raised-button matTooltip="Hapus data dosen" style="margin-left: 10px;" >
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
        </td>
    </tr>
</table>