<form [formGroup]="postingForm" (ngSubmit)="create()">
    <h2 mat-dialog-title style="text-align: center;">Catatan Dosen</h2>
    <mat-divider style="margin-bottom: 20px;"></mat-divider>
    <mat-dialog-content class="mat-typography" style="width: 700px; height:400px">
        <mat-label>Pertemuan</mat-label>
        <mat-form-field appearance="outline" style="margin-left:70px; width: 400px;"> 
            <mat-select class="custom-select" formControlName="id_pertemuan" required (change)="ChangePertemuan($event)">
                <mat-option *ngFor="let pertemuan of daftarPertemuan" [value]="pertemuan.id">
                {{pertemuan.nama_pertemuan}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-label>Pilih Pengajar</mat-label>
        <mat-form-field appearance="outline" style="margin-left: 120px; width: 270px;">
            <mat-select class="custom-select" formControlName="id_pengajar" required (change)="ChangePengajar($event)">
                <mat-option *ngFor="let pengajar of daftarPengajar" [value]="pengajar.id">
                {{pengajar.nama}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-label>Catatan Peserta</mat-label>
        <mat-form-field appearance="outline" style="width: 630px; "> 
            <textarea matInput type="text" placeholder="Tulis disini ...." formControlName="catatan" style="height: 400px;"></textarea>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button mat-button mat-dialog-close>Batal</button>
      <button mat-button [mat-dialog-close] [disabled]="!postingForm.valid" type="submit">Simpan</button>
    </mat-dialog-actions>
</form>